/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
/* navbar design start here */
.nav__logo {
  text-align: left;
}
.nav__heading {
  text-align: right;
}
.nav__menu {
  flex-direction: row;
  justify-content: flex-end;
}
.nav__menu a {
  padding: 5px 10px;
  margin: 20px 0px;
  background-color: transparent;
}
/* navbar design start here */

/* profile design starts here */
.profile .top__weather-icon {
  right: 100px;
  width: 120px;
  transition: 2s;
}
.profile .top__weather-icon:hover {
  width: 160px;
}
.profile__desc p {
  color: gray;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
}
.profile .bottom__weather-icon {
  bottom: 20px;
  left: 100px;
  width: 120px;
  transition: 2s;
}
.profile .bottom__weather-icon:hover {
  width: 160px;
}
/* profile design ends here */
/* about me design Starts here */
.aboutme__image {
  margin-top: 100px;
}
.aboutme__image img {
  height: 270px;
  width: 250px;
}
.aboutme__desc p {
  text-align: left;
}
/* about me design ends here */

/* Professional exprience starts here */
.professinal__exprience {
  padding: 1% 5%;
}
/* Professional exprience ends here */

/* achievement-contact starts from here */
.achivement {
  padding-right: 50px;
}
.contact button {
  width: 150px;
}
.contact__links {
  position: relative;
}
.media__btn {
  margin-top: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* achievement-contact ends here */
/* footer starts form here */
.footer__menu {
  margin-top: 12px;
}
.footer__menu a {
  display: inline;
  margin: 10px;
}
/* footer end here */
